<!DOCTYPE html>
<html>
<head>
    <title>Aplicación de Tareas</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            min-height: 100vh;
        }
        h1 {
            color: #333;
            text-align: center;
            margin-bottom: 20px;
            font-size: 2.5em;
        }
        ul {
            list-style: none;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 20px;
            width: 100%;
            max-width: 1000px;
        }
        ul li {
            background: #fff;
            border: 1px solid #ddd;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.2s;
        }
        ul li:hover {
            transform: translateY(-5px);
        }
        ul li a {
            text-decoration: none;
            color: #800080;
            padding: 15px;
            display: block;
            text-align: center;
            font-size: 1.1em;
            font-weight: bold;
        }
        ul li a:hover {
            background-color: #800080;
            color: #fff;
            border-radius: 10px 10px 0 0;
        }
    </style>
</head>
<body>
    <h1>Aplicación de Tareas</h1>
    <ul>
        <li><a href="{% url 'todo-create' %}">Crear Tarea</a></li>
        <li><a href="{% url 'todo-list' %}">Lista de Tareas (información completa)</a></li>
        <li><a href="{% url 'todo-list-id' %}">Lista de Tareas (solo IDs)</a></li>
        <li><a href="{% url 'todo-list-title' %}">Lista de Tareas (IDs y Títulos)</a></li>
        <li><a href="{% url 'todo-list-unresolved' %}">Lista de Tareas Pendientes (ID y Título)</a></li>
        <li><a href="{% url 'todo-list-resolved' %}">Lista de Tareas Completadas (ID y Título)</a></li>
        <li><a href="{% url 'todo-list-user-id' %}">Lista de Tareas (IDs y Usuario)</a></li>
        <li><a href="{% url 'todo-list-resolved-user-id' %}">Lista de Tareas Completadas (ID y Usuario)</a></li>
        <li><a href="{% url 'todo-list-unresolved-user-id' %}">Lista de Tareas Pendientes (ID y Usuario)</a></li>
    </ul>
</body>
</html>
