<!DOCTYPE html>
<html>
<head>
    <title>Todo List</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            padding: 0;
            background-color: #f4f4f4;
        }
        h1 {
            color: #333;
            text-align: center;
            margin-bottom: 20px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        table, th, td {
            border: 1px solid #ddd;
        }
        th, td {
            padding: 10px;
            text-align: left;
        }
        th {
            background-color: #800080;
            color: #fff;
        }
        tr:nth-child(even) {
            background-color: #f9f9f9;
        }
        tr:hover {
            background-color: #f1f1f1;
        }
        a, button {
            text-decoration: none;
            color: #800080;
            padding: 5px 10px;
            border: 1px solid #800080;
            border-radius: 5px;
            display: inline-block;
            text-align: center;
        }
        a:hover, button:hover {
            background-color: #800080;
            color: #fff;
        }
        form {
            display: inline;
        }
    </style>
</head>
<body>
    <h1>Todo List</h1>
    <table>
        <thead>
            <tr>
                {% for header in headers %}
                    <th>{{ header }}</th>
                {% endfor %}
                {% if show_actions %}

                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    {% for key, value in item.items %}
                        <td>
                            {% if key == 'completed' %}
                                {{ value|yesno:"Sí,No" }}
                            {% else %}
                                {{ value }}
                            {% endif %}
                        </td>
                    {% endfor %}
                    {% if show_actions %}
                    <td>
                        <form method="post" action="{% url 'todo-toggle-complete' item.id %}">
                            {% csrf_token %}
                            <button type="submit">
                                {% if item.completed %}
                                    Marcar como no completado
                                {% else %}
                                    Marcar como completado
                                {% endif %}
                            </button>
                        </form>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
